; NPM config
init-license=MIT
init-packageManager="pnpm@8.7.4"

; Peer dependencies are a nightmare. Make them less so.
strict-peer-dependencies=false
; Default to only allowing patch `~` instead of minor `^` upgrades.
save-prefix="~"
; Verify the integrity of installed dependencies. PNPM `npm audit signatures` equivalent (https://github.com/pnpm/pnpm/issues/6435)
provenance=true
