---
import Icon from "./Icon.astro";

const pathname = new URL(Astro.request.url).pathname;
const pathParts = pathname.split("/");
const currentPath = pathParts[1];
---

<nav class="site-navigation">
  <a
    class:list={[
      "site-navigation__link",
      currentPath === "" ? "is-active" : "",
    ]}
    href={`/`}
    title="Home"
    aria-label="Home"
  >
    <Icon name="home" size="m" />
  </a>

  <a
    class:list={[
      "site-navigation__link",
      currentPath === "snippets" ? "is-active" : "",
    ]}
    href={`/snippets`}
    title="Snippets"
    aria-label="Snippets"
  >
    <Icon name="snippet" size="m" />
  </a>

  <a
    class:list={[
      "site-navigation__link",
      currentPath === "udhr" ? "is-active" : "",
    ]}
    href={`/udhr`}
    title="UDHR"
    aria-label="UDHR"
  >
    <Icon name="udhr" size="m" />
  </a>

  <a
    class:list={[
      "site-navigation__link",
      currentPath === "tags" ? "is-active" : "",
    ]}
    href={`/tags`}
    title="Tags"
    aria-label="Tags"
  >
    <Icon name="hashtag" size="m" />
  </a>

  <a
    class:list={[
      "site-navigation__link",
      currentPath === "authors" ? "is-active" : "",
    ]}
    href={`/authors`}
    title="Authors"
    aria-label="Authors"
  >
    <Icon name="person" size="m" />
  </a>
</nav>

<style>
  .site-navigation {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .site-navigation__link {
    color: var(--fg);
  }

  .site-navigation__link:hover {
    color: var(--fg-emphasized);
  }

  .is-active,
  .is-active:hover {
    color: var(--highlight);
  }
</style>
