---
// components
import Icon from "./Icon.astro";
import Link from "./Link.astro";

// do stuff
const pathname = new URL(Astro.request.url).pathname;
const pathParts = pathname.split("/");
const currentPath = pathParts[1];

const links = [
  {
    label: "Home",
    icon: "home",
    path: "",
  },
  {
    label: "Snippets",
    icon: "snippet",
    path: "snippets",
  },
  {
    label: "UDHR",
    icon: "globe",
    path: "udhr",
  },
  {
    label: "Tags",
    icon: "hashtag",
    path: "tags",
  },
  {
    label: "Authors",
    icon: "person",
    path: "authors",
  },
];
---

<nav class="site-navigation">
  {
    links.map((link) => (
      <Link
        class:list={[
          "site-navigation__link",
          currentPath === link.path ? "is-active" : "",
        ]}
        href={`${link.path}`}
        title={link.label}
        aria-label={link.label}
      >
        <Icon name={link.icon} size="m" />
      </Link>
    ))
  }
</nav>

<style>
  .site-navigation {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .site-navigation__link {
    color: var(--fg);
  }

  .site-navigation__link:hover {
    color: var(--fg-emphasized);
  }

  .is-active,
  .is-active:hover {
    color: var(--highlight);
  }
</style>
